[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml-java-js/index.html
Icon=java
Exec=kcmshell4 khtml_java_js
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_java_js

Name=JavaScript
Name[af]=Javaskrip
Name[ar]=جافا وجافا سكريبت
Name[as]=JavaScript
Name[ast]=JavaScript
Name[be]=JavaScript
Name[be@latin]=JavaScript
Name[bg]=JavaScript
Name[bn]=জাভাস্ক্রিপ্ট
Name[bn_IN]=JavaScript
Name[br]=JavaScript
Name[bs]=Javaskript
Name[ca]=JavaScript
Name[ca@valencia]=JavaScript
Name[cs]=JavaScript
Name[csb]=JavaScript
Name[cy]=JavaScript
Name[da]=JavaScript
Name[de]=JavaScript
Name[el]=JavaScript
Name[en_GB]=JavaScript
Name[eo]=Javoskripto
Name[es]=JavaScript
Name[et]=JavaScript
Name[eu]=JavaScript
Name[fa]=جاوا و جاوااسکریپت
Name[fi]=JavaScript
Name[fr]=Javascript
Name[fy]=JavaSkript
Name[ga]=JavaScript
Name[gl]=JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ
Name[he]=JavaScript
Name[hi]=जावा-स्क्रिप्ट
Name[hne]=जावा-स्क्रिप्ट
Name[hr]=JavaScript
Name[hsb]=JavaScript
Name[hu]=Javascript
Name[ia]=JavaScript
Name[id]=JavaScript
Name[is]=JavaScript
Name[it]=JavaScript
Name[ja]=JavaScript
Name[ka]=JavaScript
Name[kk]=JavaScript
Name[km]=JavaScript
Name[kn]=ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್
Name[ko]=자바와 자바스크립트
Name[ku]=JavaScript
Name[lt]=JavaScript
Name[lv]=JavaScript
Name[mai]=जावा-स्क्रिप्ट
Name[mk]=JavaScript
Name[ml]=ജാവയും ജാവാസ്ക്രിപ്റ്റും
Name[mr]=जावास्क्रिप्ट
Name[ms]=JavaScript
Name[nb]=JavaScript
Name[nds]=JavaScript
Name[ne]=जाभा स्क्रिप्ट
Name[nl]=JJavaScript
Name[nn]=JavaScript
Name[oc]=JavaScript
Name[or]=JavaScript
Name[pa]=Java ਅਤੇ ਜਾਵਾ ਸਕ੍ਰਿਪਟ
Name[pl]=JavaScript
Name[pt]=JavaScript
Name[pt_BR]=JavaScript
Name[ro]=JavaScript
Name[ru]=JavaScript
Name[se]=Javascript
Name[si]=ජාවාස්ක්‍රිප්ට
Name[sk]=JavaScript
Name[sl]=JavaScript
Name[sr]=Јаваскрипт
Name[sr@ijekavian]=Јаваскрипт
Name[sr@ijekavianlatin]=JavaScript
Name[sr@latin]=JavaScript
Name[sv]=Javaskript
Name[ta]=ஜாவா நேர்நிரல்
Name[te]=జావాస్క్రిప్ట్
Name[tg]=JavaScript
Name[th]=จาวาและจาวาสคริปต์
Name[tr]=JavaScript
Name[ug]=JavaScript
Name[uk]=JavaScript
Name[uz]=JavaScript
Name[uz@cyrillic]=JavaScript
Name[vi]=JavaScript
Name[wa]=JavaScript
Name[xh]=JavaScript
Name[x-test]=xxJavaScriptxx
Name[zh_CN]=JavaScript
Name[zh_TW]=JavaScript
Comment=Configure the behavior of JavaScript
Comment[af]=Konfigureer die gedrag van Javaskrip
Comment[ar]=اضبط جافا وجافا سكريبت
Comment[as]=JavaScript ৰ আচৰণ বিন্যাস কৰক
Comment[ast]=Configuración del comportamientu de JavaScript
Comment[be]=Настаўленні JavaScript
Comment[be@latin]=Naładź pavodziny hartača dla prahramaŭ JavaScript
Comment[bg]=Настройки на JavaScript
Comment[bn]=জাভা এবং জাভাস্ক্রিপ্ট-এর আচরণ কনফিগার করুন
Comment[bn_IN]=JavaScript-র আচরণ কনফিগার করুন
Comment[br]=Kefluniañ emzalc'h JavaScript
Comment[bs]=Podešavanje ponašanja javaskripta
Comment[ca]=Configura el comportament de JavaScript
Comment[ca@valencia]=Configura el comportament de JavaScript
Comment[cs]=Nastavení chování avaScript
Comment[csb]=Kònfigùracëjô dzejaniô JavaScriptu
Comment[cy]=Ffurfweddu ymddygiad JavaScript
Comment[da]=Indstil hvordan JavaScript opfører sig
Comment[de]=Verhalten von JavaScript festlegen
Comment[el]=Διαμορφώστε τη συμπεριφορά της JavaScript
Comment[en_GB]=Configure the behaviour of JavaScript
Comment[eo]=Agordi la konduton de Javoskripto
Comment[es]=Configuración del comportamiento de JavaScript
Comment[et]=JavaScripti käitumise seadistamine
Comment[eu]=Konfiguratu JavaScripten portaera
Comment[fa]=پیکربندی رفتار جاوا و جاوااسکریپت
Comment[fi]=Javan ja JavaScriptin toiminta-asetukset
Comment[fr]=Configuration du comportement de Javascript
Comment[fy]=Hjir kinne jo it gedrach fan JavaSkript ynstelle
Comment[ga]=Cumraigh oibriú JavaScript
Comment[gl]=Configura o comportamento de JavaScript
Comment[gu]=જાવા અને જાવાસ્ક્રિપ્ટ વર્તણૂક રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות Java ו־JavaScript
Comment[hi]=जावा एवं जावा-स्क्रिप्ट बर्ताव कॉन्फ़िगर करें
Comment[hne]=जावा अउ जावा-स्क्रिप्ट बर्ताव कान्फिगर करव
Comment[hr]=Konfiguriranje ponašanja JavaScripta
Comment[hsb]=Zadźerženje JavaSkripta připrawić
Comment[hu]=A Javascript beállításai
Comment[ia]=Configura le comportamento de JavaScript
Comment[id]=Atur perilaku JavaScript
Comment[is]=Stilla hegðun JavaScript
Comment[it]=Configura il comportamento di JavaScript
Comment[ja]=JavaScript の動作を設定
Comment[ka]=JavaScript -ის ქცევის კონფიგურაცია
Comment[kk]=JavaScript қасиеттерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឥរិយាបថ​របស់ JavaScript
Comment[kn]=ಜಾವಾ ಮತ್ತು ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್ ನ ವರ್ತನೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=자바와 자바스크립트 행동 설정
Comment[ku]=Tevgerên JavaScriptê ava bike
Comment[lt]=Čia galite konfigūruoti JavaScript elgseną
Comment[lv]=Šeit varat konfigurēt JavaScript izturēšanos
Comment[mai]=जावा आओर जावा-स्क्रिप्ट बर्तावकेँ बिन्यस्त करू
Comment[mk]=Конфигурирајте го однесувањето на JavaScript
Comment[ml]=ജാവയുടെയും ജാവാസ്ക്രിപ്റ്റിന്റെയും പെരുമാറ്റം ക്രമീകരിയ്ക്കുക
Comment[mr]=जावा व जावास्क्रिप्ट वर्तन संयोजीत करा
Comment[ms]=Konfigur kelakuan JavaScript
Comment[nb]=Innstillinger for JavaScript
Comment[nds]=Dat Bedregen vun JavaSkript instellen
Comment[ne]=जाभा र जाभा स्क्रिप्टकको व्यवहार कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het gedrag van JavaScript instellen
Comment[nn]=Innstillingar for JavaScript
Comment[or]=JavaScriptର ଆଚରଣକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=Java ਅਤੇ ਜਾਵਾ-ਸਕਰਿਪਟ ਦੇ ਵਿਹਾਰ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia działania JavaScriptu
Comment[pt]=Configurar o comportamento do JavaScript
Comment[pt_BR]=Configura o comportamento do JavaScript
Comment[ro]=Configurează comportamentul JavaScript
Comment[ru]=Настройка поведения JavaScript
Comment[se]=Javascript-heivehusat
Comment[si]=ජාවා හා ජාවාස්ක්‍රිප්ටයන්හී හැසිරීම සකසන්න
Comment[sk]=Nastavenie správania jazykov JavaScript
Comment[sl]=Nastavitve obnašanja Jave in JavaScripta
Comment[sr]=Подешавање понашања јаваскрипта
Comment[sr@ijekavian]=Подешавање понашања јаваскрипта
Comment[sr@ijekavianlatin]=Podešavanje ponašanja JavaScripta
Comment[sr@latin]=Podešavanje ponašanja JavaScripta
Comment[sv]=Anpassa beteendet hos Javaskript
Comment[ta]=ஜாவா மற்றும் ஜாவா நேர்நிரலின் செயல்முறையை வடிவமைக்க
Comment[te]=JavaScript యొక్క ప్రవర్తనను ఆకృతీకరించుము
Comment[tg]=Танзимоти рафтори JavaScript
Comment[th]=ปรับแต่งพฤติกรรมของจาวาและจาวาสคริปต์
Comment[tr]=JavaScript davranışlarını yapılandır
Comment[ug]=JavaScript ھەرىكىتى سەپلىمىسى
Comment[uk]=Налаштування поведінки JavaScript
Comment[uz]=JavaScript xususiyatlarini moslash
Comment[uz@cyrillic]=JavaScript хусусиятларини мослаш
Comment[vi]=Cấu hình cách hoạt động của JavaScript
Comment[wa]=Apontyî li dujhance pol JavaScript
Comment[xh]=Qwalasela ukuziphatha kwe JavaScript
Comment[x-test]=xxConfigure the behavior of JavaScriptxx
Comment[zh_CN]=配置 JavaScript 的行为
Comment[zh_TW]=設定 JavaScript 的行為
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[bg]=браузър,уеб,скрипт,konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[bs]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[ca]=konqueror,kfm,navegador,html,web,www,javascript
X-KDE-Keywords[ca@valencia]=konqueror,kfm,navegador,html,web,www,javascript
X-KDE-Keywords[cs]=konqueror,kfm,prohlížeč,html,web,www,javascript
X-KDE-Keywords[da]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,JavaScript
X-KDE-Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,javascript
X-KDE-Keywords[en_GB]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[es]=konqueror,kfm,navegador,html,web,www,javascript
X-KDE-Keywords[et]=konqueror,kfm,brauser,html,veeb,www,javascript
X-KDE-Keywords[fi]=konqueror,kfm,selain,html,web,www,javascript
X-KDE-Keywords[fr]=konqueror, kfm, navigateur, html, web, www,  javascript
X-KDE-Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,javascript
X-KDE-Keywords[gl]=konqueror,kfm,navegador,html,web,www,javascript
X-KDE-Keywords[hu]=konqueror,kfm,böngésző,html,web,www,javascript
X-KDE-Keywords[ia]=konqueror,kfm,navigator,html,web,javascript
X-KDE-Keywords[id]=konqueror,kfm,peramban,html,web,www,javascript
X-KDE-Keywords[it]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[kk]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[km]=konqueror kfm កម្មវិធី​រុករក html បណ្ដាញ www javascript
X-KDE-Keywords[ko]=konqueror,kfm,browser,html,web,www,javascript,브라우저,웹,자바,자바스크립트
X-KDE-Keywords[lt]=konqueror,kfm,naršyklė,html,žiniatinklis,www,javascript
X-KDE-Keywords[lv]=konqueror,kfm,pārlūks,html,web,www,javascript
X-KDE-Keywords[nb]=konqueror,kfm,nettleser,html,vev,www,javascript
X-KDE-Keywords[nds]=Konqueror,kfm,Nettkieker,html,Nett,www,Javaskript
X-KDE-Keywords[nl]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć,www,javascript
X-KDE-Keywords[pt]=konqueror,kfm,navegador,HTML,Web,WWW,Javascript
X-KDE-Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,javascript
X-KDE-Keywords[ro]=konqueror,kfm,navigator,html,web,www,javascript
X-KDE-Keywords[ru]=konqueror,kfm,browser,html,web,www,javascript,браузер,веб
X-KDE-Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,javascript
X-KDE-Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,javascript
X-KDE-Keywords[sr]=konqueror,kfm,browser,html,web,www,javascript,К‑освајач,КФМ,прегледач,ХТМЛ,веб,јава,јаваскрипт
X-KDE-Keywords[sr@ijekavian]=konqueror,kfm,browser,html,web,www,javascript,К‑освајач,КФМ,прегледач,ХТМЛ,веб,јава,јаваскрипт
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,kfm,browser,html,web,www,javascript,K‑osvajač,KFM,pregledač,HTML,veb,JavaScript
X-KDE-Keywords[sr@latin]=konqueror,kfm,browser,html,web,www,javascript,K‑osvajač,KFM,pregledač,HTML,veb,JavaScript
X-KDE-Keywords[sv]=konqueror,kfm,webbläsare,html,web,www,javascript
X-KDE-Keywords[tr]=konqueror,kfm,browser,html,web,www,javascript
X-KDE-Keywords[uk]=konqueror;kfm;browser;html;web;www;java;javascript;перегляд;переглядач;браузер;мережа;джава;ява;скрипт
X-KDE-Keywords[wa]=konqueror,kfm,betchteu,html,waibe,waibes,www,javascript
X-KDE-Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,javascriptxx
X-KDE-Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,javascript,浏览器,网络
X-KDE-Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,javascript

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
